In [2]:
import pandas as pd
import boto3
import json

### Load DWH Params from a file

In [15]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("CLUSTER", "HOST")

## Connect to Redshift cluster

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Select data from tables

#### Error table

In [16]:
%%sql
SELECT * FROM stl_load_errors;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

#### staging_questions table

In [12]:
%%sql
SELECT * FROM staging_questions limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(61552, 'Are there legitimate uses for JavaScript&#39;s &quot;with&quot; statement?', 68819, 1221418472, 811, True, 'language-features'),
 (42610, 'Metalanaguage to describe the Model from MVC to generate identical client and server side code', 201, 1220476363, 3906, True, 'client-server'),
 (2486, 'What is Progressive Enhancement?', 2323, 1217951079, 277, True, 'progressive-enhancement'),
 (29814, 'How to do crossdomain calls from Silverlight?', 839, 1219830246, 1893, True, 'silverlight'),
 (34852, 'NHibernate Session.Flush() Sending Update Queries When No Update Has Occurred', 10272, 1220032171, 1284, True, 'nhibernate')]

#### staging_users table

In [27]:
%%sql
SELECT * FROM staging_users limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(24, 'sanmiguel', 4122, 'registered', 'London, United Kingdom'),
 (7671, 'Alex Miller', 65622, 'registered', 'St Louis, MO'),
 (7872, 'Rob', 43599, 'registered', 'Basingstoke, United Kingdom'),
 (2847, 'John Boker', 78501, 'registered', 'Columbus, OH'),
 (4169, 'Eric Holscher', 251, 'registered', 'United States')]

#### staging_tags table

In [25]:
%%sql
SELECT count(*) FROM staging_tags;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9900,)]

#### question_table

In [59]:
%%sql
SELECT * FROM question_table limit 10;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(70053, 'Is there a cross-language TDD solution?', 1089, 1221549865, 7122, True, 6310, 61),
 (26111, 'Failed to load resources from resource file', 7414, 1219674483, 2850, True, 6829, 340),
 (54758, 'Getting the back/fwd history of the WebBrowser Control', 3003, 1221067041, 536, True, 9631, 563),
 (63870, 'Splitting a file and its lines under Linux/bash', 3650, 1221491969, 7028, True, 3, 1469),
 (58027, 'How to embed command shell in Visual Studio', 1883, 1221180133, 3146, True, 8686, 692),
 (86710, 'Does DataGrid on CE 5.0 Compact Framework .NET support editing?', 7707, 1221679788, 1743, True, 6709, 0),
 (15979, 'WildcardQuery error in Solr', 13086, 1219143557, 1448, True, 4839, 350),
 (62946, 'Misra standard for embedded software', 8359, 1221485968, 6807, True, 6545, 274),
 (33708, 'My (Java/Swing) MouseListener isn&#39;t listening, help me figure out why', 2286, 1219970275, 61, True, 3838, 692),
 (58163, 'When can/should you go whole hog with the ORM approach?', 369, 1221185101, 2443, True, 308, 207)]

#### user_table

In [56]:
%%sql
SELECT * FROM user_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16003, 'Kociub', 51, 'registered'),
 (6907, 'Udo', 191, 'registered'),
 (1135, 'Dogmang', 717, 'registered'),
 (6539, 'Sally', 605, 'registered'),
 (10471, 'Gordon Wrigley', 9269, 'registered')]

#### location_table

In [54]:
%%sql
SELECT * FROM location_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(59, 'Santiago, Chile'),
 (123, 'Arcata, CA, United States'),
 (187, 'Philippines'),
 (251, 'Montreal, Canada'),
 (315, 'Seattle, WA, United States')]

#### tag_table

In [52]:
%%sql
SELECT * FROM tag_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(27, 6941, 'load'),
 (91, 5742, 'firebase-storage'),
 (155, 1243, 'pyspark-dataframes'),
 (219, 2272, 'percentage'),
 (283, 1053, 'cdata')]

#### time_table

In [57]:
%%sql
SELECT * FROM time_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1218737280, datetime.datetime(2008, 8, 14, 18, 8), 18, 14, 33, 8, 2008, 4),
 (1221165283, datetime.datetime(2008, 9, 11, 20, 34, 43), 20, 11, 37, 9, 2008, 4),
 (1221611429, datetime.datetime(2008, 9, 17, 0, 30, 29), 0, 17, 38, 9, 2008, 3),
 (1221642540, datetime.datetime(2008, 9, 17, 9, 9), 9, 17, 38, 9, 2008, 3),
 (1219173092, datetime.datetime(2008, 8, 19, 19, 11, 32), 19, 19, 34, 8, 2008, 2)]

#### Query test - Top 10 locations that create more javascript questions

In [23]:
%%sql
SELECT location, count(distinct question_id) as count  FROM question_table qt
INNER JOIN location_table lt on qt.location_id = lt.location_id
INNER JOIN tag_table tt on qt.tag_id = tt.tag_id
Where tt.name = 'javascript'
group by location
order by count desc
limit 10
;

 * postgresql://dwhuser:***@dwhcluster.cpxrxejn59lc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('United States', 46),
 ('Australia', 11),
 ('San Francisco, CA', 9),
 ('United Kingdom', 9),
 ('Vancouver, BC, Canada', 8),
 ('Austin, TX, United States', 7),
 ('Atlanta, GA', 7),
 ('London, United Kingdom', 7),
 ('Wales, United Kingdom', 7),
 ('California', 6)]